.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2224c4;
  height: 240px;
  width: 240px;
  border-radius: 120px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1RUb1chA0n7CUk83pKCEew6vCySCQSsoWAI_onjOITw&s);
  background-repeat: no-repeat;
  background-size: 240px;
  box-shadow: 8px 8px 15px rgb(101, 105, 105);
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 75px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 150px;
  height: 150px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn1 {
  background-color: white;
  box-shadow: 8px 8px 15px rgb(101, 105, 105) inset;
  width: 200px; /* adjust as needed */
  height: 80px; /* adjust as needed */
  border-radius: 15px;

  justify-content: center;
  align-items: center;
  font-size: 20px; /* adjust as needed */
}
.btn2 {
  background-color: white;
  box-shadow: 8px 8px 15px rgb(101, 105, 105);
  width: 210px; /* adjust as needed */
  height: 80px; /* adjust as needed */
  border-radius: 15px;

  justify-content: center;
  align-items: center;
  font-size: 20px; /* adjust as needed */
}
.ctr {
  width: 500px;
  padding: 80px;
}
.h1 {
  font-weight: bolder;
}
.imgg {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin: 10px;
}
